/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;

  &:active,
  &:hover {
    outline-width: 0;
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font: inherit;
  margin: 0;
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* End extract */

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.kzhang-serif {
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.kzhang-wide {
  letter-spacing: 4px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.kzhang-image {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.kzhang-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.kzhang-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

.kzhang-bordered tr,
.kzhang-table-all tr {
  border-bottom: 1px solid #ddd;
}

.kzhang-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.kzhang-table-all tr {
  &:nth-child(odd) {
    background-color: #fff;
  }

  &:nth-child(even) {
    background-color: #f1f1f1;
  }
}

.kzhang-hoverable tbody tr:hover,
.kzhang-ul.kzhang-hoverable li:hover {
  background-color: #ccc;
}

.kzhang-centered tr {
  th,
  td {
    text-align: center;
  }
}

.kzhang-table {
  td,
  th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
  }
}

.kzhang-table-all {
  td,
  th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
  }
}

.kzhang-table {
  th:first-child,
  td:first-child {
    padding-left: 16px;
  }
}

.kzhang-table-all {
  th:first-child,
  td:first-child {
    padding-left: 16px;
  }
}

.kzhang-btn,
.kzhang-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.kzhang-btn {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kzhang-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kzhang-disabled,
.kzhang-btn:disabled,
.kzhang-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.kzhang-disabled *,
:disabled * {
  pointer-events: none;
}

.kzhang-btn {
  &.kzhang-disabled:hover,
  &:disabled:hover {
    box-shadow: none;
  }
}

.kzhang-badge,
.kzhang-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.kzhang-badge {
  border-radius: 50%;
}

.kzhang-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
  }
}

.kzhang-tooltip,
.kzhang-display-container {
  position: relative;
}

.kzhang-tooltip {
  .kzhang-text {
    display: none;
  }

  &:hover .kzhang-text {
    display: inline-block;
  }
}

.kzhang-ripple {
  &:active {
    opacity: 0.5;
  }

  transition: opacity 0s;
}

.kzhang-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.kzhang-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.kzhang-dropdown-click {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.kzhang-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover .kzhang-dropdown-content {
    display: block;
  }

  &:first-child {
    background-color: #ccc;
    color: #000;
  }
}

.kzhang-dropdown-click:hover,
.kzhang-dropdown-hover:hover > .kzhang-button:first-child,
.kzhang-dropdown-click:hover > .kzhang-button:first-child {
  background-color: #ccc;
  color: #000;
}

.kzhang-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.kzhang-check,
.kzhang-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.kzhang-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.kzhang-bar-block {
  .kzhang-dropdown-hover,
  .kzhang-dropdown-click {
    width: 100%;
  }

  .kzhang-dropdown-hover .kzhang-dropdown-content,
  .kzhang-dropdown-click .kzhang-dropdown-content {
    min-width: 100%;
  }

  .kzhang-dropdown-hover .kzhang-button,
  .kzhang-dropdown-click .kzhang-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
  }
}

.kzhang-main,
#main {
  transition: margin-left 0.4s;
}

.kzhang-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.kzhang-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.kzhang-bar {
  width: 100%;
  overflow: hidden;
}

.kzhang-center .kzhang-bar {
  display: inline-block;
  width: auto;
}

.kzhang-bar {
  .kzhang-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
  }

  .kzhang-dropdown-hover,
  .kzhang-dropdown-click {
    position: static;
    float: left;
  }

  .kzhang-button {
    white-space: normal;
  }
}

.kzhang-bar-block {
  .kzhang-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
  }

  &.kzhang-center .kzhang-bar-item {
    text-align: center;
  }
}

.kzhang-block {
  display: block;
  width: 100%;
}

.kzhang-responsive {
  display: block;
  overflow-x: auto;
}

.kzhang-container {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-panel {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-row {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-row-padding {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-cell-row {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-clear {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-bar {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.kzhang-col,
.kzhang-half,
.kzhang-third,
.kzhang-twothird,
.kzhang-threequarter,
.kzhang-quarter {
  float: left;
  width: 100%;
}

.kzhang-col {
  &.s1 {
    width: 8.33333%;
  }

  &.s2 {
    width: 16.66666%;
  }

  &.s3 {
    width: 24.99999%;
  }

  &.s4 {
    width: 33.33333%;
  }

  &.s5 {
    width: 41.66666%;
  }

  &.s6 {
    width: 49.99999%;
  }

  &.s7 {
    width: 58.33333%;
  }

  &.s8 {
    width: 66.66666%;
  }

  &.s9 {
    width: 74.99999%;
  }

  &.s10 {
    width: 83.33333%;
  }

  &.s11 {
    width: 91.66666%;
  }

  &.s12 {
    width: 99.99999%;
  }
}

@media (min-width: 601px) {
  .kzhang-col {
    &.m1 {
      width: 8.33333%;
    }

    &.m2 {
      width: 16.66666%;
    }

    &.m3 {
      width: 24.99999%;
    }
  }

  .kzhang-quarter {
    width: 24.99999%;
  }

  .kzhang-col.m4,
  .kzhang-third {
    width: 33.33333%;
  }

  .kzhang-col {
    &.m5 {
      width: 41.66666%;
    }

    &.m6 {
      width: 49.99999%;
    }
  }

  .kzhang-half {
    width: 49.99999%;
  }

  .kzhang-col {
    &.m7 {
      width: 58.33333%;
    }

    &.m8 {
      width: 66.66666%;
    }
  }

  .kzhang-twothird {
    width: 66.66666%;
  }

  .kzhang-col.m9,
  .kzhang-threequarter {
    width: 74.99999%;
  }

  .kzhang-col {
    &.m10 {
      width: 83.33333%;
    }

    &.m11 {
      width: 91.66666%;
    }

    &.m12 {
      width: 99.99999%;
    }
  }
}

@media (min-width: 993px) {
  .kzhang-col {
    &.l1 {
      width: 8.33333%;
    }

    &.l2 {
      width: 16.66666%;
    }

    &.l3 {
      width: 24.99999%;
    }

    &.l4 {
      width: 33.33333%;
    }

    &.l5 {
      width: 41.66666%;
    }

    &.l6 {
      width: 49.99999%;
    }

    &.l7 {
      width: 58.33333%;
    }

    &.l8 {
      width: 66.66666%;
    }

    &.l9 {
      width: 74.99999%;
    }

    &.l10 {
      width: 83.33333%;
    }

    &.l11 {
      width: 91.66666%;
    }

    &.l12 {
      width: 99.99999%;
    }
  }
}

.kzhang-rest {
  overflow: hidden;
}

.kzhang-stretch {
  margin-left: -16px;
  margin-right: -16px;
}

.kzhang-content,
.kzhang-auto {
  margin-left: auto;
  margin-right: auto;
}

.kzhang-content {
  max-width: 980px;
}

.kzhang-auto {
  max-width: 1140px;
}

.kzhang-cell-row {
  display: table;
  width: 100%;
}

.kzhang-cell {
  display: table-cell;
}

.kzhang-cell-top {
  vertical-align: top;
}

.kzhang-cell-middle {
  vertical-align: middle;
}

.kzhang-cell-bottom {
  vertical-align: bottom;
}

.kzhang-hide {
  display: none !important;
}

.kzhang-show-block,
.kzhang-show {
  display: block !important;
}

.kzhang-show-inline-block {
  display: inline-block !important;
}

@media (max-width: 1205px) {
  .kzhang-auto {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .kzhang-modal-content {
    margin: 0 10px;
    width: auto !important;
  }

  .kzhang-modal {
    padding-top: 30px;
  }

  .kzhang-dropdown-hover.kzhang-mobile .kzhang-dropdown-content,
  .kzhang-dropdown-click.kzhang-mobile .kzhang-dropdown-content {
    position: relative;
  }

  .kzhang-hide-small {
    display: none !important;
  }

  .kzhang-mobile {
    display: block;
    width: 100% !important;
  }

  .kzhang-bar-item.kzhang-mobile,
  .kzhang-dropdown-hover.kzhang-mobile,
  .kzhang-dropdown-click.kzhang-mobile {
    text-align: center;
  }

  .kzhang-dropdown-hover.kzhang-mobile {
    width: 100%;

    .kzhang-btn,
    .kzhang-button {
      width: 100%;
    }
  }

  .kzhang-dropdown-click.kzhang-mobile {
    width: 100%;

    .kzhang-btn,
    .kzhang-button {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .kzhang-modal-content {
    width: 500px;
  }

  .kzhang-modal {
    padding-top: 50px;
  }
}

@media (min-width: 993px) {
  .kzhang-modal-content {
    width: 900px;
  }

  .kzhang-hide-large {
    display: none !important;
  }

  .kzhang-sidebar.kzhang-collapse {
    display: block !important;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .kzhang-hide-medium {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .kzhang-sidebar.kzhang-collapse {
    display: none;
  }

  .kzhang-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .kzhang-auto {
    max-width: 100%;
  }
}

.kzhang-top,
.kzhang-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.kzhang-top {
  top: 0;
}

.kzhang-bottom {
  bottom: 0;
}

.kzhang-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.kzhang-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.kzhang-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.kzhang-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.kzhang-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.kzhang-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.kzhang-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.kzhang-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.kzhang-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.kzhang-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.kzhang-display-container:hover {
  .kzhang-display-hover {
    display: block;
  }

  span.kzhang-display-hover {
    display: inline-block;
  }
}

.kzhang-display-hover {
  display: none;
}

.kzhang-display-position {
  position: absolute;
}

.kzhang-circle {
  border-radius: 50%;
}

.kzhang-round-small {
  border-radius: 2px;
}

.kzhang-round,
.kzhang-round-medium {
  border-radius: 4px;
}

.kzhang-round-large {
  border-radius: 8px;
}

.kzhang-round-xlarge {
  border-radius: 16px;
}

.kzhang-round-xxlarge {
  border-radius: 32px;
}

.kzhang-row-padding {
  padding: 0 8px;

  > {
    .kzhang-half,
    .kzhang-third,
    .kzhang-twothird,
    .kzhang-threequarter,
    .kzhang-quarter,
    .kzhang-col {
      padding: 0 8px;
    }
  }
}

.kzhang-container {
  padding: 0.01em 16px;
}

.kzhang-panel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.kzhang-code,
.kzhang-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px;
}

.kzhang-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}

.kzhang-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}

.kzhang-card,
.kzhang-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.kzhang-card-4,
.kzhang-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.kzhang-spin {
  animation: kzhang-spin 2s infinite linear;
}

@keyframes kzhang-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.kzhang-animate-fading {
  animation: fading 10s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.kzhang-animate-opacity {
  animation: opac 0.8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.kzhang-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.kzhang-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.kzhang-animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.kzhang-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.kzhang-animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.kzhang-animate-input {
  transition: width 0.4s ease-in-out;

  &:focus {
    width: 100% !important;
  }
}

.kzhang-opacity,
.kzhang-hover-opacity:hover {
  opacity: 0.6;
}

.kzhang-opacity-off,
.kzhang-hover-opacity-off:hover {
  opacity: 1;
}

.kzhang-opacity-max {
  opacity: 0.25;
}

.kzhang-opacity-min {
  opacity: 0.75;
}

.kzhang-greyscale-max,
.kzhang-grayscale-max,
.kzhang-hover-greyscale:hover,
.kzhang-hover-grayscale:hover {
  filter: grayscale(100%);
}

.kzhang-greyscale,
.kzhang-grayscale {
  filter: grayscale(75%);
}

.kzhang-greyscale-min,
.kzhang-grayscale-min {
  filter: grayscale(50%);
}

.kzhang-sepia {
  filter: sepia(75%);
}

.kzhang-sepia-max,
.kzhang-hover-sepia:hover {
  filter: sepia(100%);
}

.kzhang-sepia-min {
  filter: sepia(50%);
}

.kzhang-tiny {
  font-size: 10px !important;
}

.kzhang-small {
  font-size: 12px !important;
}

.kzhang-medium {
  font-size: 15px !important;
}

.kzhang-large {
  font-size: 18px !important;
}

.kzhang-xlarge {
  font-size: 24px !important;
}

.kzhang-xxlarge {
  font-size: 36px !important;
}

.kzhang-xxxlarge {
  font-size: 48px !important;
}

.kzhang-jumbo {
  font-size: 64px !important;
}

.kzhang-left-align {
  text-align: left !important;
}

.kzhang-right-align {
  text-align: right !important;
}

.kzhang-justify {
  text-align: justify !important;
}

.kzhang-center {
  text-align: center !important;
}

.kzhang-border-0 {
  border: 0 !important;
}

.kzhang-border {
  border: 1px solid #ccc !important;
}

.kzhang-border-top {
  border-top: 1px solid #ccc !important;
}

.kzhang-border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.kzhang-border-left {
  border-left: 1px solid #ccc !important;
}

.kzhang-border-right {
  border-right: 1px solid #ccc !important;
}

.kzhang-topbar {
  border-top: 6px solid #ccc !important;
}

.kzhang-bottombar {
  border-bottom: 6px solid #ccc !important;
}

.kzhang-leftbar {
  border-left: 6px solid #ccc !important;
}

.kzhang-rightbar {
  border-right: 6px solid #ccc !important;
}

.kzhang-section,
.kzhang-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.kzhang-margin {
  margin: 16px !important;
}

.kzhang-margin-top {
  margin-top: 16px !important;
}

.kzhang-margin-bottom {
  margin-bottom: 16px !important;
}

.kzhang-margin-left {
  margin-left: 16px !important;
}

.kzhang-margin-right {
  margin-right: 16px !important;
}

.kzhang-padding-small {
  padding: 4px 8px !important;
}

.kzhang-padding {
  padding: 8px 16px !important;
}

.kzhang-padding-large {
  padding: 12px 24px !important;
}

.kzhang-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.kzhang-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.kzhang-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.kzhang-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.kzhang-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.kzhang-left {
  float: left !important;
}

.kzhang-right {
  float: right !important;
}

.kzhang-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.kzhang-transparent {
  background-color: transparent !important;
}

.kzhang-hover-none:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Colors */

.kzhang-amber,
.kzhang-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important;
}

.kzhang-aqua,
.kzhang-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important;
}

.kzhang-blue,
.kzhang-hover-blue:hover {
  color: #fff !important;
  background-color: #2196f3 !important;
}

.kzhang-light-blue,
.kzhang-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87ceeb !important;
}

.kzhang-brown,
.kzhang-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important;
}

.kzhang-cyan,
.kzhang-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important;
}

.kzhang-blue-grey,
.kzhang-hover-blue-grey:hover,
.kzhang-blue-gray,
.kzhang-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important;
}

.kzhang-green,
.kzhang-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}

.kzhang-light-green,
.kzhang-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important;
}

.kzhang-indigo,
.kzhang-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.kzhang-khaki,
.kzhang-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important;
}

.kzhang-lime,
.kzhang-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important;
}

.kzhang-orange,
.kzhang-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}

.kzhang-deep-orange,
.kzhang-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important;
}

.kzhang-pink,
.kzhang-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important;
}

.kzhang-purple,
.kzhang-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important;
}

.kzhang-deep-purple,
.kzhang-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important;
}

.kzhang-red,
.kzhang-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.kzhang-sand,
.kzhang-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important;
}

.kzhang-teal,
.kzhang-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important;
}

.kzhang-yellow,
.kzhang-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important;
}

.kzhang-white,
.kzhang-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.kzhang-black,
.kzhang-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.kzhang-grey,
.kzhang-hover-grey:hover,
.kzhang-gray,
.kzhang-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}

.kzhang-light-grey,
.kzhang-hover-light-grey:hover,
.kzhang-light-gray,
.kzhang-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.kzhang-dark-grey,
.kzhang-hover-dark-grey:hover,
.kzhang-dark-gray,
.kzhang-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}

.kzhang-pale-red,
.kzhang-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important;
}

.kzhang-pale-green,
.kzhang-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important;
}

.kzhang-pale-yellow,
.kzhang-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important;
}

.kzhang-pale-blue,
.kzhang-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important;
}

.kzhang-text-amber,
.kzhang-hover-text-amber:hover {
  color: #ffc107 !important;
}

.kzhang-text-aqua,
.kzhang-hover-text-aqua:hover {
  color: #00ffff !important;
}

.kzhang-text-blue,
.kzhang-hover-text-blue:hover {
  color: #2196f3 !important;
}

.kzhang-text-light-blue,
.kzhang-hover-text-light-blue:hover {
  color: #87ceeb !important;
}

.kzhang-text-brown,
.kzhang-hover-text-brown:hover {
  color: #795548 !important;
}

.kzhang-text-cyan,
.kzhang-hover-text-cyan:hover {
  color: #00bcd4 !important;
}

.kzhang-text-blue-grey,
.kzhang-hover-text-blue-grey:hover,
.kzhang-text-blue-gray,
.kzhang-hover-text-blue-gray:hover {
  color: #607d8b !important;
}

.kzhang-text-green,
.kzhang-hover-text-green:hover {
  color: #4caf50 !important;
}

.kzhang-text-light-green,
.kzhang-hover-text-light-green:hover {
  color: #8bc34a !important;
}

.kzhang-text-indigo,
.kzhang-hover-text-indigo:hover {
  color: #3f51b5 !important;
}

.kzhang-text-khaki,
.kzhang-hover-text-khaki:hover {
  color: #b4aa50 !important;
}

.kzhang-text-lime,
.kzhang-hover-text-lime:hover {
  color: #cddc39 !important;
}

.kzhang-text-orange,
.kzhang-hover-text-orange:hover {
  color: #ff9800 !important;
}

.kzhang-text-deep-orange,
.kzhang-hover-text-deep-orange:hover {
  color: #ff5722 !important;
}

.kzhang-text-pink,
.kzhang-hover-text-pink:hover {
  color: #e91e63 !important;
}

.kzhang-text-purple,
.kzhang-hover-text-purple:hover {
  color: #9c27b0 !important;
}

.kzhang-text-deep-purple,
.kzhang-hover-text-deep-purple:hover {
  color: #673ab7 !important;
}

.kzhang-text-red,
.kzhang-hover-text-red:hover {
  color: #f44336 !important;
}

.kzhang-text-sand,
.kzhang-hover-text-sand:hover {
  color: #fdf5e6 !important;
}

.kzhang-text-teal,
.kzhang-hover-text-teal:hover {
  color: #009688 !important;
}

.kzhang-text-yellow,
.kzhang-hover-text-yellow:hover {
  color: #d2be0e !important;
}

.kzhang-text-white,
.kzhang-hover-text-white:hover {
  color: #fff !important;
}

.kzhang-text-black,
.kzhang-hover-text-black:hover {
  color: #000 !important;
}

.kzhang-text-grey,
.kzhang-hover-text-grey:hover,
.kzhang-text-gray,
.kzhang-hover-text-gray:hover {
  color: #757575 !important;
}

.kzhang-text-light-grey,
.kzhang-hover-text-light-grey:hover,
.kzhang-text-light-gray,
.kzhang-hover-text-light-gray:hover {
  color: #f1f1f1 !important;
}

.kzhang-text-dark-grey,
.kzhang-hover-text-dark-grey:hover,
.kzhang-text-dark-gray,
.kzhang-hover-text-dark-gray:hover {
  color: #3a3a3a !important;
}

.kzhang-border-amber,
.kzhang-hover-border-amber:hover {
  border-color: #ffc107 !important;
}

.kzhang-border-aqua,
.kzhang-hover-border-aqua:hover {
  border-color: #00ffff !important;
}

.kzhang-border-blue,
.kzhang-hover-border-blue:hover {
  border-color: #2196f3 !important;
}

.kzhang-border-light-blue,
.kzhang-hover-border-light-blue:hover {
  border-color: #87ceeb !important;
}

.kzhang-border-brown,
.kzhang-hover-border-brown:hover {
  border-color: #795548 !important;
}

.kzhang-border-cyan,
.kzhang-hover-border-cyan:hover {
  border-color: #00bcd4 !important;
}

.kzhang-border-blue-grey,
.kzhang-hover-border-blue-grey:hover,
.kzhang-border-blue-gray,
.kzhang-hover-border-blue-gray:hover {
  border-color: #607d8b !important;
}

.kzhang-border-green,
.kzhang-hover-border-green:hover {
  border-color: #4caf50 !important;
}

.kzhang-border-light-green,
.kzhang-hover-border-light-green:hover {
  border-color: #8bc34a !important;
}

.kzhang-border-indigo,
.kzhang-hover-border-indigo:hover {
  border-color: #3f51b5 !important;
}

.kzhang-border-khaki,
.kzhang-hover-border-khaki:hover {
  border-color: #f0e68c !important;
}

.kzhang-border-lime,
.kzhang-hover-border-lime:hover {
  border-color: #cddc39 !important;
}

.kzhang-border-orange,
.kzhang-hover-border-orange:hover {
  border-color: #ff9800 !important;
}

.kzhang-border-deep-orange,
.kzhang-hover-border-deep-orange:hover {
  border-color: #ff5722 !important;
}

.kzhang-border-pink,
.kzhang-hover-border-pink:hover {
  border-color: #e91e63 !important;
}

.kzhang-border-purple,
.kzhang-hover-border-purple:hover {
  border-color: #9c27b0 !important;
}

.kzhang-border-deep-purple,
.kzhang-hover-border-deep-purple:hover {
  border-color: #673ab7 !important;
}

.kzhang-border-red,
.kzhang-hover-border-red:hover {
  border-color: #f44336 !important;
}

.kzhang-border-sand,
.kzhang-hover-border-sand:hover {
  border-color: #fdf5e6 !important;
}

.kzhang-border-teal,
.kzhang-hover-border-teal:hover {
  border-color: #009688 !important;
}

.kzhang-border-yellow,
.kzhang-hover-border-yellow:hover {
  border-color: #ffeb3b !important;
}

.kzhang-border-white,
.kzhang-hover-border-white:hover {
  border-color: #fff !important;
}

.kzhang-border-black,
.kzhang-hover-border-black:hover {
  border-color: #000 !important;
}

.kzhang-border-grey,
.kzhang-hover-border-grey:hover,
.kzhang-border-gray,
.kzhang-hover-border-gray:hover {
  border-color: #9e9e9e !important;
}

.kzhang-border-light-grey,
.kzhang-hover-border-light-grey:hover,
.kzhang-border-light-gray,
.kzhang-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important;
}

.kzhang-border-dark-grey,
.kzhang-hover-border-dark-grey:hover,
.kzhang-border-dark-gray,
.kzhang-hover-border-dark-gray:hover {
  border-color: #616161 !important;
}

.kzhang-border-pale-red,
.kzhang-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important;
}

.kzhang-border-pale-green,
.kzhang-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important;
}

.kzhang-border-pale-yellow,
.kzhang-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important;
}

.kzhang-border-pale-blue,
.kzhang-hover-border-pale-blue:hover {
  border-color: #e7ffff !important;
}
